.container1
{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.total
{
    display: flex;
    justify-content: flex-end;
    margin-right: 8vh;
}
@media screen and (max-width:750px) {
    .container1
    {
        flex-direction:column;
    }
}